@import url('https://fonts.cdnfonts.com/css/space-mono');

* {
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f4;
}

#title {
  font-size: 4rem;
  color: var(--darkBlue);
  text-align: center;
}

#title span {
  letter-spacing: 2px;
  color: var(--mainBlue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: var(--darkBlue);
  font-size: 2rem;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#inputField {
  width: 15rem;
  text-align: center;
  height: 1.5rem;
  border-radius: 8px;
  border: 2px soild var(--mainBlue) !important;
}

#tools {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.taskButton {
  cursor: grab;
  background-color: var(--lightBlue);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.taskButton:first-of-type {
  margin-right: 20px;
}