* {
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f4;
  overflow-x: hidden;
  width: 100vw;
  height: 90vh;
}

#title {
  font-size: 4rem;
  color: var(--darkBlue);
  text-align: center;
}

#title span {
  letter-spacing: 2px;
  color: var(--mainBlue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: var(--darkBlue);
  font-size: 2rem;
  font-family: monospace;
  margin-bottom: 128px;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

#inputField {
  width: 15rem;
  text-align: center;
  height: 1.5rem;
  border-radius: 8px;
  border: 2px soild var(--mainBlue) !important;
}

#tools {
  display: flex;
  justify-content: center; 
  width: 164px;
}

#buttonContainer {
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,23,52,0.5) 100%);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
  margin-bottom: 0;
  backdrop-filter: blur(4px);
}

.taskButton {
  cursor: grab;
  background-color: var(--lightBlue);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s ease-in-out;
}

.taskButton:hover {
  filter: brightness(1.1);
}

.taskButton:first-of-type {
  margin-right: 20px;
}

.done {
  color: var(--mainBlue)!important;
  text-decoration: line-through;
  opacity: 0.7;
}

.active {
  background-color: var(--darkBlue);
  scale: 1.2;
}