* {
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f4;
  overflow-x: hidden;
  width: 100vw;
  height: 90vh;
}

#title {
  font-size: 4rem;
  color: var(--darkBlue);
  text-align: center;
}

#title span {
  letter-spacing: 2px;
  color: var(--mainBlue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: var(--darkBlue);
  font-size: 2rem;
  font-family: monospace;
  max-width: 80vw;
}

.tasks {
  display: list-item;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-wrap: wrap;
  max-width: 80vw;
  word-wrap: break-word;
  hyphens: auto;
  z-index: 1;
}

#inputField {
  width: 30vw;
  text-align: center;
  height: fit-content;
  resize: none;
  flex-wrap: wrap;
  word-break: break-all;
  text-align: center;
  border: 3px solid var(--lightBlue);
  background-color: #f2f3f4;
  font-size: 1rem;
}

#inputField:hover {
  border: 3px solid var(--darkBlue);
}

#tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: 164px;
}

#buttonContainer {
  width: 2vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 10px;
  margin-bottom: 0;
  position: fixed;
  right: 20px;
  top: calc(50% - 82px);
}

.taskButton {
  cursor: grab;
  background-color: var(--lightBlue);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.taskButton:hover {
  filter: brightness(1.1);
}

.taskButton:first-of-type {
  margin-bottom: 20px;
}

.done {
  color: var(--mainBlue)!important;
  text-decoration: line-through;
  opacity: 0.7;
}

.active {
  background-color: var(--darkBlue);
  scale: 1.2;
}

footer {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  color: var(--darkBlue);
}

footer #info {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

#copy {
  margin-bottom: 10px!important;
}

#info p {
  margin: 0;
}


#linkCOntainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div .links {
  margin-right: 15px;
}

.links {
  font-size: 1.2rem;
  color: var(--mainBlue);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 5px;
}

.links:visited {
  all: none;
}

.links:last-of-type {
  margin-bottom: 0;
}

.tos-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .tos-content {
    background: white;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .tos-header {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--mainBlue)
  }

  .tos-body {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .tos-footer {
    text-align: right;
  }

  .tos-footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: var(--mainBlue);
  }
}

#proggressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#proggress {
  color: var(--mainBlue);
  font-size: 2.5rem;
  margin: 0;
  transition: all ease-in-out 0.2;
}

#proggress span {
  margin: 0 0 0 3px;
}

.line {
  width: 25vw;
  height: 2.2px;
  background-color: var(--lightBlue);
  border-radius: 5px;
}

#dropdownContainer {
  display: flex;
  justify-content: center;
}

#dropdown {
  width: 10vw;
  height: 5vh;
  background-color: #f2f3f4;
  text-align: center;
  border: 2.2px solid var(--lightBlue);
}

option {
  background-color: #f2f3f4;
}